<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
</head>
<body>
	<form action="detail" method="POST">
	<div>
	Name:<input type="text" name="a">
	</div>
	<div>
		<label for="course">Course</label>
		<select id="course" name="course">
		<option value="python">Python</option>
		<option value="ds">DS</option>
		<option value="ai">AI</option>
		</select>
	</div>	
	<div>
		Email:<input type="Email" name="b">
	</div>
	<div>
		<input type="submit" name="submit">
		<input type="reset" name="reset">
	</div>
	</form>

</body>
</html>